.left{
	background-color:#F2F95F ;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;

}

.interface{
	text-align: center;
	padding: 150px;
	font-family: 'Amatic SC', cursive;

}

a.button{
	display: inline-block;
	background-color: red;
	color: black;
	text-transform:uppercase ;
	padding: 50px;
	text-decoration: none;
	border-radius: 90%;

}

.right{
	background-color: #A0F0EC ;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

.ground{
	background-color: #61EB68;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
}

.nervous{
	position: absolute;
	bottom: 220px;
	left: 175px;
	background: url('../img/nervous.png') no-repeat 0 0;
	width: 100px;
	height: 100px;
	display: none;

}

.nervous.show{
	display: block;
}

.cant-wait{
	position: absolute;
	top: 100px;
	right: 175px;
	background: url('../img/cant-wait.png') no-repeat 0 0;
	width: 100px;
	height: 100px;
	display: none;

}

.cant-wait.show{
	display: block;
}

.rocket{
	position: absolute;
	left: 50%;
	bottom: 20px;
	width: 143px;
	height: 272px;
	margin-left: -71.5px;
	background: url('../img/rocket-state1.png');
	transition: bottom 10000ms;
}

/* rocket bg img*/
body.body-state2 .rocket{
	
}
body.body-state3 .rocket,
body.body-state4 .rocket{

}
body.body-state5 .rocket{
	background: url('../img/boom.png');
	width: 600px;
	height: 300px;
	margin-left: -300px;
	transition: top 10000ms ;


}


body.body-state1 .rocket{
	transition: none;
}

body.body-state3 .rocket,
body.body-state4 .rocket{
	bottom: 1000px;

}

.state1{
	display: none;
}
.state2{
	display: none;
}
.state3{
	display: none;
}
.state4{
	display: none;
}
.state5{
	display: none;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}

a{

}
a.button{

}